*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.container {

    max-width: 1000px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 20px;
}
header{

}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}
.header-bio{
    color: black;
    float: left;
    padding: 30px;
    
}
h1, h2, h3, h4, h5 {
    color:black

}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a {
    text-decoration: none;
    color: black

}
.header-contact a:hover {
    text-decoration: underline;
    color: tomato;

}

.div-clear{
    clear:both
}
hr{
    border: solid black 3px;
    width:100%;
    margin: 30px auto;
    border-bottom: none;

}

/*------------------------
Personal section start
----------------------------*/
#personal-section{

}
.contant{
   margin-bottom: 30px;

}
.left-div{
    width:30px;
    float: left;

}

.right-dvi{
    width: 70%;
    color: black;
    float: right;
    text-align: justify;

}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width:100%;
    margin: 20px  auto;
}

/* education section start
...........................*/

.edu-left{
float: left;
width: 45%;

}

.edu-right{
    float: right;
    width: 45%;
      
}

/* Bottom*/

.bottom{

    background-color: black;
    text-align: center;
    padding: 10px;
}

.bottom a{
    color: white;
    text-decoration: none;
    margin-top:  20px;

}

.ref-left{
    float: left;
    width: 45%;

}

.ref-right{
    float: right;
    width: 45%;

}